 <% @upcomings.each do |g| %>
      <tbody>
        <tr>
          <td> <%= g.name %> </td>
          <td> <%= g.date %> </td>
          <td> <%= g.tag %> </td>
        </tr>
      </tbody>
  <% end %>
