@import "bootstrap";

/* universal */

body {
  background-color:#CCE5FF;
  padding-top: 50px;
  padding-bottom: 20px;
}

html {
  overflow-y: scroll;
}

/*body {
  padding-top: 60px;
}
*/
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.jumbotron {
  background-color:#CCE5FF;
}

footer{
  position: absolute;
  bottom: 0px;
}