<% content_for :head do %>

  <%= stylesheet_link_tag 'home' %>

<% end %>

<% content_for :nav do %>
    <div class="collapse navbar-collapse">
      <div class="navbar-form navbar-right">

        <%= form_tag do %>
            <%= render 'sessions/form'%>
        <% end %>
      </div>
    </div>
<% end %>



  <div class="container"><br><br><br><br>
    <h1> UWACollab </h1><br>
    <p class = "lead"><br>The group collaboration site designed to make group projects as painless as possible! Includes real time chat, document upload, support for multiple groups and projects, and more!<br><br></p>
    <p><%= link_to "Sign up!", '/register', :class => "btn btn-primary btn-lg" %></p><br><br><br><br>
  </div>


