<% content_for :nav do %>
    <div class="collapse navbar-collapse">
      <div class="navbar-form navbar-right">
        <%= form_tag do %>
            <%= render 'sessions/logout'%>
        <% end %>
      </div>
    </div>
<% end %>

  <div class="container">
    <br>
    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-primary" style="width:250px">
          <div class="panel-heading">
            <h3 class="panel-title">Current Projects</h3>
          </div>
          <div class="panel-body">
            <%= render 'projects/list' %>
            <%= render 'projects/new_button' %>
          </div>
        </div>
        <div class="panel panel-primary" style="width:250px">
          <div class="panel-heading">
            <h3 class="panel-title">My Files</h3>
          </div>
          <div class="panel-body">
            <a href="Files.html">file.html</a> <br>
            <a href="Files.html">custom.css</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <iframe src="http://www.google.com/calendar/embed?src=21442323%40student.uwa.edu.au" style="border: 0" width="550" height="400"></iframe>
      </div>

      <div class="col-sm-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Due This Week</h3>
          </div>
          <div class="panel-body">
            CITS3403 Project Stage I <br>
            GEND1901 Short Report
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Upcoming</h3>
          </div>
          <div class="panel-body">
            UWA Study Break <br>
            CITS3403 Midterm
          </div>
        </div>
      </div>


      <p><br><br><br><br></p>

    </div>
  </div>
